{% load staticfiles %}

<html>
<head>
    <title>장고 북마크 | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}" type="text/css"/>
    <script type="text/javascript" src="{% static "jquery.js" %}"></script>
    {% block external %}{% endblock %}
</head>
<body>
<div id="nav">
    <a href="/">home</a> |
    {% if user.is_authenticated %}
        <a href="/popular/">인기 있는 북마크</a> |
        <a href="/save/">북마크 추가</a> |
        <a href="/search/">검색</a> |
        <a href="/tag/">태그</a> |
        <a href="/user/{{ user.username }}">{{ user.username }}</a>님, 안녕하세요.
        (<a href="/logout">로그아웃</a>)
    {% else %}
        <a href="/login">로그인</a>
        <a href="/register">가입</a>
    {% endif %}
</div>
<h1>{% block head %}{% endblock %}</h1>
{% block content %}{% endblock %}
</body>
</html>