{% extends "base.html" %}
{% load staticfiles %}
{% block external %}
    <script type="text/javascript" src="{% static "bookmark_edit.js" %}"></script>
    <link rel="alternate" type="application/rss+xml"
          title="장고 북마크 | {{ username }}가 등록한 북마크"
          href="/feeds/user/{{ username }}/" />
{% endblock %}
{% block title %}{{ username }}{% endblock %}
{% block head %}{{ username }}의 북마크입니다.{% endblock %}
{% block content %}
    {% ifequal user.username username %}
        <a href="/friends/{{ username }}/">{{ username }}님의 친구들</a>
    {% else %}
        {% if is_friend %}
            {{ username }}은 {{ user.username }}의 친구입니다.
        {% else %}
            <a href="/friend/add/?username={{ username }}">{{ username }}를 친구로 추가하세요.</a>
        {% endif %}
        - <a href="/friends/{{ username }}/">{{ username }}의 친구들</a>
    {% endifequal %}
    {% include "bookmark_list.html" %}
{% endblock %}
